.ImageUpload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploaderContainer {
  height: 180px;
  width: 100%;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 2px dashed #aebfbe;
  border-radius: 8px;
}

.uploaderContainer:hover {
  cursor: pointer;
  border-color: #82ada9;
}

.img-overlay { 
  position: "absolute";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.0;
}

.img-overlay:hover {
  opacity: 0.05;
}