.form-input .MuiOutlinedInput-root {
  background-color: white;
}

.form-class {
  padding: 15px;
  padding-bottom: 50px;
  /* background: linear-gradient( rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.5)100%),url('../../../../assets/images/background.webp'); */
}

.maplibregl-ctrl-top-left {
  top: 10px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
}

.maplibregl-ctrl-geocoder {
  min-width: 400px !important;
}
