
.create-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: -webkit-fill-available;
}
