
.login-container {
  display: 'flex';
  justify-content: 'center';
  padding: '10px'
}

.paper-style {
  padding: 2%;
  height: fit-content;
  width: 280px;
  margin: 20px auto;
}

.button-style {
  margin: 10% 0 !important;
}


