.restaurant-header {
    display: flex;
    justify-content: space-between;
}

.restaurant-title {
  font-size: 40px;   
}

.restaurant-tags {
  overflow-y: scroll;
  height: 54px;
  margin-top: 3px;
}
