
.login-container {
  display: 'flex';
  justify-content: 'center';
  padding: '10px'
}

.paper-style {
  height: fit-content;
  width: 420px;
  margin: 20px auto;
  padding: 24px 32px;
  border-radius: 24px;
  border: 1px solid rgba(56, 163, 165, 0.24);
}


.paper-style .MuiTextField-root {
  margin: 12px 0 0 0;
}

.paper-style .MuiTextField-root .MuiInputBase-root {
  border-radius: 12px;
  background-color: #fbfbfb;
}


.button-style {
  margin: 16px 0;
}


